
/* ---------------
      레이아웃 
-----------------*/
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#WRAP {
  width: 100%;
  min-height: 100vh;
}
.inner {
  width: 100%;
  max-width: 420px;
  margin: 0 auto 50px;
  padding: 60px 20px 0;
  box-sizing: border-box;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  background-color: #cbe0ff;
  overflow: hidden;
  z-index: -1;
}
.content {
  min-height: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 5%), 0 0 14px 6px rgb(0 0 0 / 3%);
  background-color: #fff;
  box-sizing: border-box;
}
@media (max-width: 420px) {
  .inner {
    padding-top: 40px;
  }

}

/* ---------------
      Header 
-----------------*/
#HEADER {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 20px;
}
.head_title {
  font-family: "Ubuntu", sans-serif;
  line-height: 1;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.head_today {
  color: #4c4c4c;
  font-weight: 900;
}
.head_week {
  font-size: 16px;
  font-weight: 400;
}

/* -------------------
      리스트 추가
---------------------*/
.add_list {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 5%), 0 0 14px 6px rgb(0 0 0 / 3%);
  background-color: #fff;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.add_list input {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  height: 45px;
  padding: 5px 13px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}
.add_list input:focus {
  outline: none;
}
.add_list .btn_add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  background-color: #333;
  background-image: url(../images/ico_add.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  border-radius: 0 4px 4px 0 ;
}


/* -------------------
        리스트
---------------------*/
.list_count{
  text-align: left;
  font-size: 15px;
  color: #777;
}
.list_group {
  margin-top: 20px;
}
.list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
  box-sizing: border-box;
}
.list_item:last-child {
  margin-bottom: 0;
}
.item_left {
  display: flex;
  align-items: center;
}
.item_content {
  margin-left: 7px;
}

.item_buttons {
  display: flex;
  align-items: center;
}
.item_buttons button {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
.item_buttons .btn_delete {
  background-image: url(../images/ico_delete.png);
}
.item_buttons .btn_edit {
  background-image: url(../images/ico_edit.png);
  margin-right: 3px;
}
.item_right {
  display: none;
}

.list_item:hover .item_right {
  display: block;
}


/* -------------------
        체크박스
---------------------*/
.checkbox {
  display: none;
}
.checkbox+label {
  cursor: pointer;
}
.checkbox+label>span {
  vertical-align: middle;
}
.checkbox+label::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 0.095rem solid #6c6c6c;
  border-radius: 3px;
  vertical-align: middle;
}
.checkbox:checked+label::before {
  content: "";
  width: 19px;
  height: 19px;
  background-color: #444;
  border-color: #444;
  background-image: url(../images/ico_checked.png);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center center;
}

/* 편집모드시 */
.editmode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.editmode .edit--input {
  width: calc(100% - 55px);
  height: 35px;
  padding: 0 5px;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}
.editmode .edit--input:focus {
  outline: none;
}
.editmode .btn_edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 35px;
  border-radius: 3px;
  border-color: #4b4b4b;
  background-color: #4b4b4b;
  font-size: 14px;
  color: #fff;
}